In [50]:
import pandas as pd

# List of columns to be converted to category type
categorical_columns = ['model', 'year', 'transmission', 'fuelType', 'engineSize']

toyota = pd.read_csv('../data/toyota.csv', dtype={col: 'category' for col in categorical_columns})
print(toyota.dtypes)

model           category
year            category
price              int64
transmission    category
mileage            int64
fuelType        category
tax                int64
mpg              float64
engineSize      category
dtype: object

In [51]:
# Number of unique (distinct) values in each column
print("Unique (distinct) values for each column:")
print(toyota.nunique())
print()

print("model column value counts:")
print(toyota['model'].value_counts())
print()
print("year column value counts:")
print(toyota['year'].value_counts())
print()
print("transmission column value counts:")
print(toyota['transmission'].value_counts())
print()
print("fuelType column value counts:")
print(toyota['fuelType'].value_counts())
print()
print("engineSize column value counts:")
print(toyota['engineSize'].value_counts())

Unique (distinct) values for each column:
model             18
year              23
price           2114
transmission       4
mileage         5699
fuelType           4
tax               29
mpg               81
engineSize        16
dtype: int64

model column value counts:
model
Yaris            2122
Aygo             1961
Auris             712
C-HR              479
RAV4              473
Corolla           267
Prius             232
Avensis           115
Verso             114
Hilux              86
GT86               73
Land Cruiser       51
PROACE VERSO       15
Supra              12
Camry              11
IQ                  8
Urban Cruiser       4
Verso-S             3
Name: count, dtype: int64

year column value counts:
year
2017    2019
2019    1286
2018    1015
2016     997
2015     525
2014     352
2013     204
2020     128
2012      42
2011      40
2009      29
2007      20
2008      19
2010      18
2005      12
2006      11
2004       7
2003       6
2002       4
2001       1
1998       1
1999       1
2000       1
Name: count, dtype: int64

transmission column value counts:
transmission
Manual       3826
Automatic    2657
Semi-Auto     254
Other           1
Name: count, dtype: int64

fuelType column value counts:
fuelType
Petrol    4087
Hybrid    2043
Diesel     503
Other      105
Name: count, dtype: int64

engineSize column value counts:
engineSize
1.0    2059
1.5    1423
1.8    1289
1.3     601
2.0     398
1.2     303
2.5     249
1.6     169
2.4      70
2.2      58
1.4      40
2.8      36
3.0      35
0.0       6
4.2       1
4.5       1
Name: count, dtype: int64

In [ ]:
# Evaluate data quality
missing_data_counts = toyota.isnull().sum()
print("Missing data counts for each column:")
print(missing_data_counts)
correlation_matrix = toyota.corr(numeric_only=True).round(2)
print()

print("Correlation between numeric columns:")
print(correlation_matrix)

Missing data counts for each column:
model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
dtype: int64
         price  mileage   tax   mpg
price     1.00    -0.30  0.21 -0.04
mileage  -0.30     1.00 -0.21  0.04
tax       0.21    -0.21  1.00 -0.43
mpg      -0.04     0.04 -0.43  1.00